{% macro tree(nodes) %}
    {% for k,node in nodes %}
        <li>
            <div><b>{{ node.lft }}</b> {{ node.userName }} <b>{{ node.rgt }}</b></div>
            {% if node.__children %}
                <ul>
                    {{ _self.tree(node.__children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}