{% extends 'base.html.twig' %}
{% block title %}Binary Tree{% endblock %}
{% block stylesheets %}
    <style>
        {{ include('tree/assets/_tree.css') }}
    </style>
{% endblock %}
{% import "/tree/tree.html.twig" as trees %}
{% block body %}
    <div class="container">
        <ul class="menu">
            <li>Generate tree {{ include('tree/_form.html.twig') }}</li>
        </ul>
        <div class="tree">
            <ul>
                {{ trees.tree(htmlTree) }}
            </ul>
        </div>
    </div>
{% endblock %}
